* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgba(203, 226, 222, 0.822);
    color: #000000;
    font-size: 20px;
}

/*EXTERIOR SECTION*/
.exterior {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -80px;
}
.logo {
    text-align: center;
    margin-top: 15px;
}
.logo img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
#calorie-form {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 40px auto;
    background-color: #ddd;
    border: 2px solid black;
    max-width: 40%;
    width:100%;
    border-radius: 10px;
}

#calorie-form input[type="text"] {
    padding: 10px;
    border: 5px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    width: 100%;
}

#calorie-form button {
    margin: 5px;
    padding: 1px 20px;
    background-color: #318a96;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#calorie-summary img {
    width: 50px ;
    vertical-align: middle;
}
#calorie-summary {
    text-align: center;
    font-size: 18px;
    margin-top: -40px;
}

/*CONTAINER SECTION*/
.container {
    max-width: 1000px;
    height: auto;
    margin: 100px auto;
    padding: 30px;
    background-color: #f4f4f4;
    box-shadow: 0 0 50px rgba(231, 227, 227, 0.1);
    visibility: hidden;
}

.container h1 { 
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.container.visible {
    visibility: visbile;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: black; 
    visibility: hidden;
    border: none; 
}

.divider {
    width: 0px;
}

/* LEFT SIDE OF CONTAINER */
.left-side {
    margin-top: 10px;
    max-width: 400px;
    border: 2px solid black;
}

.left-side h1 {
    margin: 10px;
    font-size: 53px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.left-side h2 {
    font-size: 15px;
    text-align: left;
    font-weight: 800;
    margin-left: 10px;
    margin-top: -10px;
}

#calories {
    display: flex;
    justify-content: space-between;
    font-size: 53px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 7px solid black;
}

#protein, #fats, #carbohydrates, #sodium, #sugar, #saturated-fat, #potassium, #serving_size, #cholesterol{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-weight: 700;
}

.label {
    text-align: left;
}

.value {
    text-align: right;
}

#serving_size {
    color: black;
    font-weight: 900;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    border-bottom: 15px solid black;
}

/*#food-image img {
    max-width: 00%;
}*/

/*RIGHT SIDE SECTION*/
.right-side {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

#add-form button {
    position: absolute;
    bottom: 0; /*for future use, aligns to the bottom of the container */
    right: 0; /* for future use, aligns to the right of the container */
    padding: 10px 20px;
    background-color: #318a96;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#add-form button:hover {
    background-color: #218838;
}


