* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    font-size: 20px;
}

.container {
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 500px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(203, 226, 222, 0.822);
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(231, 227, 227, 0.1);
}
.left-side, .right-side {
    flex: 1;
    padding:20px;
}
.divider {
    width: 1px;
    background-color: black;
    height: 90%;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.result h2 {
    margin-bottom: 50px;
    text-transform: capitalize;
    text-align: center;
}

.result p {
    margin-bottom: 15px;
    text-align: left;
}

.result img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-left: 450px;
    margin-top: -350px;
}
.exterior {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -80px;
}
.logo {
    text-align: center;
    margin-top: 15px;
}
.logo img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
#calorie-form {
    display: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#calorie-form input[type="text"] {
    padding: 10px;
    flex: .5;
    border: 5px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    width: 300px;
}

#calorie-form button {
    padding: 10px 20px;
    background-color: #318a96;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#calorie-form button:hover {
    background-color: #218838;
}

#calorie-summary img {
    width: 50px ;
    vertical-align: middle;
}
#calorie-summary {
    text-align: center;
    font-size: 18px;
    margin-top: -40px;
}